<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>todo_app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="header">
    <div class="header-container">
      <div class="header-left">
        <a href="{{ url_for('top') }}">todo app</a>
      </div>
      <div class="header-right">
        <a href="#">log in</a>
        <a href="#">sign up</a>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="main-container">
      <div class="task-table">

        <div class="table-header">
          <h2>新規タスク</h2>
          <a href="{{ url_for('show_list') }}">戻る</a>
        </div>

        <div class="new-item-form">
          <form action="" method="POST">
            <input type="text" name="task_todo" class="input_field"/>
            <input type="submit" value="作成" class="submitbtn"/>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
    </div>
  </div>
  
</body>

</html>
