<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>todo_app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="header">
    <div class="header-container">
      <div class="header-left">
        <a href="{{ url_for('top') }}">todo app</a>
      </div>
      <div class="header-right">
        <a href="#">log in</a>
        <a href="#">sign up</a>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="main-container">
      <div class="task-table">

        <div class="table-header">
          <h2>タスク一覧</h2>
          <a href="#">+追加</a>
        </div>

        {% for item in todo_list %}
          <div class="table-content">
            <div class="item-data">
              <p>{{ item }}</p>
            </div>
            <div class="action">
              <a href="#">削除</a>
              <a href="#">編集</a>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
    </div>
  </div>
  
</body>

</html>
