<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>todo_app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="header">
    <div class="header-container">
      <div class="header-left">
        <a href="{{ url_for('top') }}">todo app</a>
      </div>
      <div class="header-right">
        <a href="#">log in</a>
        <a href="#">sign up</a>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="main-container">
      <div class="task-table">

        <div class="table-header">
          <h2>タスク一覧</h2>
          <a href="{{ url_for('add_task') }}">+追加</a>
        </div>

        {% for task in task_list %}
          <div class="table-content">

            <div class="task-data">
              <p>{{ task.content }}</p>
            </div>

            <div class="action">
              <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST">
                <input type="submit"  value="削除" />
              </form>
              <a href="{{ url_for('edit_task', task_id=task.id) }}">編集</a>
            </div>

          </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
    </div>
  </div>
  
</body>

</html>
