<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>todo_app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="header">
    <div class="container">
      <div class="header-left">
        <a href="{{ url_for('top') }}">todo app</a>
      </div>
      <div class="header-right">
        <a href="#">log in</a>
        <a href="#">sign up</a>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="container">
    </div>
  </div>

  <div id="footer">
    <div class="container">
    </div>
  </div>

</body>

</html>
